.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 80%;
    height: 80%;
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}